*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.work{
  display: flex;
  height: 100vh;


  .left{

  }
  .right{
    width: 100%;

    .inputForm{


      h2{
        margin-left: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 33px;
        /* identical to box height */

        display: flex;
        align-items: center;
        letter-spacing: 0.02em;

        /* Black */

        color: #303030;
      }
      margin-bottom: auto;
      margin-left: 30px;
      margin-right: 30px;
      background: #FFFFFF;
      border: 0.5px solid rgba(0, 0, 0, 0.04);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      h2{
        margin-bottom: 24px;
      }

      .inputs{

        display: flex;
        //align-items: center;
        justify-content: space-between;

        padding: 24px;
        input{
          margin-bottom: 24px;
          width: 420px;
          padding: 8px;
          background: #FFFFFF;
          border: 0.5px solid rgba(173, 173, 173, 0.8);
          border-radius: 8px;
        }
        ::placeholder{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          //line-height: 24px;
          /* identical to box height, or 150% */


          /* Medium gray */

          color: #8C8C8C;

        }
        label{
          width: 320px;
          height: 24px;
          display: block;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          margin-bottom: 8px;
          font-size: 16px;
          line-height: 24px;
          color: #333333;
        }
        select{
          width: 420px;
          padding:12px;
          background: #FFFFFF;
          border: 0.5px solid rgba(173, 173, 173, 0.8);
          border-radius: 8px;
          margin-bottom: 24px;
          option{
            font-size: 16px;
          }
        }
        .Region{

        }
      }
    }
  }

}
