$colorMain: #0c2556;
$colorBlue: #022867;
$colorBlueSecondary: #2b63c0;
$colorGreen: #0fbe7b;
$colorRed: #fe346e;
$colorBlack: #000000;
$colorNumber: #8c8c8c;
$colorBackInput: #eaeff9;
$colorCardBack: #e6ebf5;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  //overflow-y: hidden;

  -webkit-tap-highlight-color: transparent;
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    height: 50px;
  }
}
